@tailwind base;
@tailwind components;
@tailwind utilities;

.FBLogo { 
 display: flex;
 justify-content: left;
 margin-left: 2in;

}

.cover {
  justify-content: space-around;
  position: relative;
  box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
  background-color: white;
  width: 20em;
  height: 14em;
  top: -3in;
  margin-left: 8in;
}

.email {
  height: 3em;
  width: 18em;
  margin-left: 0.17in;
}

.psw {
  height: 3em;
  width: 18em;
  margin-left: 0.17in;

}

.login {
  position: relative;
  left: 0.17in;
}

.forgot {
  margin-left: 1.05in;
}

.newacc {
  margin-left: 0.65in;
}




@media only screen and (max-width: 768px) {
  /* For mobile phones: */
img.resize {
  width: 540px;
  height: auto;  
}

.FBLogo {
  margin-top: 0.05in;
  margin-left: 0.25in;
  
}

.cover {
  margin-left: 0.30in;
  margin-top: 3.5in;
}

}